name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses:
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      load-test-enabled: false
      load-test-run-args: "-e LOAD_TEST_HOST=localhost"
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
      juju-channel: "3/stable"
      channel: "6/stable"
      with-uv: true
      provider: "lxd"
  allure-report:
    if: always() && !cancelled()
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
